body {
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    padding: 20px;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}